.hero {
  padding: 16px 15px 32px;
  background: linear-gradient(90deg, #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);

  @media (min-width: $tablet-width) {
    padding: 30px 45px 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 103px 120px;
  }
}

.hero__header {
  display: flex;
  column-gap: 41px;
  margin-bottom: 66px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    column-gap: 0;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
    margin-left: -1px;
    margin-right: 1px;
    align-items: flex-start;
  }
}

.hero__phone {
  position: relative;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  margin-top: -2px;

  &:hover {
    color: rgba(28, 51, 116, 0.5);
  }

  &:focus {
    color: #1c3374;
  }

  &:active {
    color: #102654;

    &::after {
      position: absolute;
      content: "";
      height: 1px;
      width: 100%;
      bottom: -6px;
      left: 0;
      background-color: #102654;
    }
  }

  &--disabled {
    color: #f8f9fc;
    opacity: 0.5;
    pointer-events: none;

    &:focus {
      outline: none;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
    margin-top: 2px;
  }
}

.hero__container {
  display: flex;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 72px 0 146px;
    gap: 56px;
  }
}

.hero__image-container {
  display: none;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.hero__image {
  display: block;

  @media (min-width: $desktop-width) {
    width: 500px;
  }
}

.hero__content {
  width: 100%;
  display: grid;
  grid-template-columns: 113px 156px;
  column-gap: 21px;
  color: #ffffff;
  text-align: end;

  @media (min-width: $tablet-width) {
    grid-template-columns: 113px 185px;
    column-gap: 26px;
    padding: 32px 0 31px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 115px 270px;
    column-gap: 0;
    padding: 52px 0;
    flex-basis: content;
  }
}

.hero__list {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-content: end;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    grid-row: 1/4;
    align-content: center;
    padding-bottom: 0.5px;
  }
}

.hero__item {
  line-height: 20px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    line-height: 22px;
  }
}

.hero__city {
  margin-bottom: 14px;
  grid-column: 2 / -1;
  font-family: "AlumniSans", sans-serif;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  margin-right: 1px;

  @media (min-width: $tablet-width) {
    margin-bottom: 9px;
    margin-right: 0;
    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
    font-size: 54px;
    line-height: 54px;
  }
}

.hero__building {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  font-family: "AlumniSans", sans-serif;
  font-size: 62px;
  line-height: 62px;
  font-weight: 800;
  margin: 0;
  letter-spacing: 0.8px;

  @media (min-width: $tablet-width) {
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 2px;
    margin-right: -2px;
  }

  @media (min-width: $desktop-width) {
    font-size: 92px;
    line-height: 110px;
    letter-spacing: 4px;
    margin-right: 0;
  }
}

.hero__button {
  margin-top: 48px;
  grid-column: 1 / -1;
  width: 100%;
  min-height: 60px;
  padding: 22px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #ffffff;

  &:hover {
    background-color: #ffffff;
    color: #103aae;
  }

  &:focus {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: #000000;
    color: #103aae;
  }

  &:active {
    background-color: #ffffff;
    color: #102654;
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    grid-column: 2/-1;
    margin-top: 50px;
    padding: 21.3px 20px 18.5px;
    min-height: 56px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 37px;
    padding: 27px 25px 22px;
  }
}
