.offers {
  padding: 40px 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 60px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 103px 100px 102px;
  }
}

.offers__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33.5px;
    padding-top: 1.5px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
    padding: 0 15px 0 13.5px;
  }
}

.offers__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px 30px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 560px);
    grid-template-areas:
      "top ."
      "top middle"
      "top bottom";
    grid-template-rows: min-content min-content;
    gap: 30px 40px;
  }
}

.offers__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 290px;
  margin: 0 auto;
  border: 7px solid transparent;
  border-image: linear-gradient(170deg, #d10a42 0.85%, #00359f 100%);
  border-image-slice: 1;
  padding: 20.6px;

  h3 {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    color: #1c3374;

    @media (min-width: $tablet-width) {
      font-size: 26px;
      line-height: 26px;
    }
  }

  p {
    color: #1c3374;
    margin: 0;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 24px;
      margin-top: -1px;
    }

    @media (min-width: $tablet-width) {
      margin-top: 0;
    }
  }

  @media (min-width: $tablet-width) {
    width: 324px;
    min-height: 188px;
    text-align: left;
    gap: 10px;
    padding: 21.5px 20px 20.5px 20.5px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    min-height: 174px;
    padding: 21.2px 20px 21px;
    gap: 9px;
  }

  &--main {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    gap: 0;
    border: none;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      margin-bottom: 0;
      justify-content: center;
    }

    @media (min-width: $desktop-width) {
      grid-area: top;
    }
  }

  &--middle {
    @media (min-width: $desktop-width) {
      grid-area: middle;
    }
  }

  &--bottom {
    @media (min-width: $desktop-width) {
      grid-area: bottom;
      margin-bottom: 0.1px;
    }
  }
}

.offers__content {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 30px;
  color: #ffffff;
  background-color: #ed0233;

  @media (min-width: $tablet-width) {
    padding: 40px 25px;
    text-align: left;
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 40.5px 45px 40px 44.4px;
  }
}

.offers__content dl {
  margin: 0;
}

.offers__content dt {
  margin-bottom: 9px;
  font-size: 22px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
  }
}

.offers__content dd {
  margin: 0;
  font-size: 64px;
  line-height: 64px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 70px;
    line-height: 70px;
  }
}

.offers__content p {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding-top: 0.2px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.offers__link {
  position: relative;
  width: max-content;
  margin: 0 auto;
  padding-bottom: 6px;
  line-height: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #1c3374;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #1c3374;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }

  &:focus-visible {
    outline: 1px solid #1c3374;
    padding: 10px;
    margin-left: -10px;
    margin-bottom: -4px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: auto;
  }
}

.offers__link--light {
  color: #ffffff;

  &:focus {
    outline-color: #ffffff;
  }

  &::after {
    background-color: #ffffff;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-shrink: 0;
    margin-left: 0.1px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0.5px;
  }
}

.offers__image-container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-shrink: 0;
  }
}

.offers__image {
  display: block;
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 280px;
  }
}
