.reviews {
  padding: 20px 15px;
}

.reviews__title {
  font-size: 22px;
  line-height: 22px;
  font-weight: 800;
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 28px;
  }
}

.reviews__buttons {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
